.question-title {
  border-radius: 10px;
  padding: 10px 25px;
  background-color: tomato;
  color: white;
}
.blog {
  text-align: center;
  color: tomato;
  font-weight: 800;
}

@media only screen and (max-width: 380px) {
  .question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    background-color: gainsboro;
    padding: 0 20px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 576px) {
  .question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    background-color: gainsboro;
    padding: 0 30px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    background-color: gainsboro;
    padding: 0 50px;
    padding-bottom: 50px;
  }
}
