.question-title {
  border-radius: 15px 15px 0px 0px;
  padding: 10px 25px;
  background-color: tomato;
  color: white;
  margin: 0;
}
.blog {
  text-align: center;
  color: tomato;
  font-weight: 800;
}
.question-tag {
  border: 1px solid tomato;
  padding: 0;
  border-radius: 15px;
  background-color: lavender;
}
.question-tag p {
  padding-left: 15px;
}

@media only screen and (max-width: 600px) {
  .question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    /* background-color: gainsboro; */
    padding: 0 20px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    /* background-color: gainsboro; */
    padding: 0 30px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    /* background-color: gainsboro; */
    padding: 0 50px;
    padding-bottom: 50px;
  }
}
